#elip-box,
#cloud-box {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
}


.elip-box-item-content {
    width: 240px;
    height: 240px;
    border: 26px #F5F5F5 solid;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elip-box-item-content::before {
    content: "";
    position: absolute;
    width: 292px;
    background-image: url(../assets/icons/ellipse.png);
    height: 141px;
    left: -50px;
    top: -47px;
}

.elip-box-main {
    display: flex;
    gap: 40px;
}

.elip-box-item.elip-bottom .elip-box-item-content::before {
    content: "";
    position: absolute;
    width: 292px;
    background-image: url(../assets/icons/ellipse.png);
    height: 141px;
    top: auto;
    left: -50px;
    bottom: -47px;
    transform: rotate(180deg);
}

#cloud-box {
    padding-top: 120px;
}

.cloud-box-main {
    display: flex;
    align-items: flex-end;
    margin-left: calc(100% - var(--page-max-width)/2 - 180px);
}

.cloud-box-line {
    position: relative;
}

.cloud-box-field.box-field-01 {
    position: absolute;
    width: 143px;
    height: 142px;
    left: -195px;
    bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    border-radius: 50%;
}

.cloud-box-field.box-field-01::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 3px;
    background-color: #595959;
    top: 50%;
    right: -55px;
}

.cloud-box-field.box-field-02 {
    position: absolute;
    width: 143px;
    height: 142px;
    left: -150px;
    bottom: 165px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    border-radius: 50%;
}

.cloud-box-field.box-field-02::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 3px;
    background-color: #595959;
    top: 85%;
    right: -56px;
    transform: rotate(24deg);
}

.cloud-box-field.box-field-03 {
    position: absolute;
    width: 140px;
    height: 142px;
    left: -30px;
    bottom: 293px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    border-radius: 50%;
}

.cloud-box-field.box-field-03::after {
    content: "";
    position: absolute;
    width: 93px;
    height: 3px;
    background-color: #595959;
    top: 120%;
    right: -34px;
    transform: rotate(54deg);
}

.cloud-box-field.box-field-04 {
    position: absolute;
    width: 143px;
    height: 142px;
    left: 133px;
    bottom: 354px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    border-radius: 50%;
}

.cloud-box-field.box-field-04::after {
    content: "";
    position: absolute;
    width: 95px;
    height: 3px;
    background-color: #595959;
    top: 132%;
    right: 8px;
    transform: rotate(82deg);
}

.cloud-box-cicle-main {
    width: 430px;
    height: 430px;
    border: 26px #F5F5F5 solid;
    border-radius: 50%;
    margin-left: -150px;
}

.cloud-box-cicle-line-content-main p {
    font-size: 16px;
    color: #777;
    margin-top: 5px;
}

.cloud-box-cicle {
    display: flex;
}

.cloud-box-cicle-line {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.cloud-box-cicle-line-item {
    width: 100%;
}

.cloud-box-cicle-line-item.line-item-01 {
    margin-top: -80px;
    margin-left: -105px;
}

.cloud-box-cicle-line-content {
    position: relative;
    width: 250px;
}

.cloud-box-cicle-line-content::after {
    content: "";
    position: absolute;
    width: 250px;
    height: 3px;
    background-color: #e6e6e6;
    bottom: -20px;
    left: -3px;
}

.cloud-box-cicle-line-content-main {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 20px;
}

.cloud-box-cicle-line-item.line-item-01 .cloud-box-cicle-line-content::before {
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    width: 40px;
    height: 3px;
    transform: rotate(-40deg);
    bottom: -33px;
    left: -38px;
}

.cloud-box-cicle-line-content-main::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    right: -6px;
    bottom: -23px;
    background-color: #e6e6e6;
}

.cloud-box-cicle-line-item.line-item-02 {
    margin-left: 0px;
    margin-top: 30px;
}

.cloud-box-cicle-line-item.line-item-02 .cloud-box-cicle-line-content::before {
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    width: 29px;
    height: 3px;
    transform: rotate(-43deg);
    bottom: -29px;
    left: -28px;
}

.cloud-box-cicle-line-item.line-item-03 {
    margin-top: 85px;
}

.cloud-box-cicle-line-item.line-item-03 .cloud-box-cicle-line-content::after,
.cloud-box-cicle-line-item.line-item-03 .cloud-box-cicle-line-content {
    width: 345px;
}

.cloud-box-cicle-line-item.line-item-03 .cloud-box-cicle-line-content-main {
    padding-left: 70px;
}

.cloud-box-cicle-line-item.line-item-04 .cloud-box-cicle-line-content-main {
    padding-left: 40px;
}

.cloud-box-cicle-line-item.line-item-04 {
    margin-left: 0px;
    margin-top: 80px;
}
.cloud-box-cicle-line-item.line-item-04 .cloud-box-cicle-line-content::before {
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    width: 50px;
    height: 3px;
    transform: rotate(35deg);
    bottom: -6px;
    left: -48px;
}

.cloud-box-cicle-line-item.line-item-05 {
    margin-top: 75px;
    margin-left: -100px;
}

.cloud-box-cicle-line-item.line-item-05 .cloud-box-cicle-line-content::after,
.cloud-box-cicle-line-item.line-item-05 .cloud-box-cicle-line-content {
    width: 200px;
}

.cloud-box-cicle-line-item.line-item-05 .cloud-box-cicle-line-content::before {
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    width: 100px;
    height: 3px;
    transform: rotate(45deg);
    bottom: 15px;
    left: -88px;
}
.cloud-box-cicle-main-content {
    font-size: 24px;
    line-height: 38px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.cloud-box-cicle-main-content strong {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.cloud-box-cicle-main-content strong span {
    display: block;
    width: 100%;
}
.cloud-box-cicle-main-content > span:nth-of-type(2) {
    font-size: 20px;
}
.cloud-box-field {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 14px;
    color: #777;
    padding-left: 15px;
    padding-right: 15px;
}
.mz-icon{
    background-repeat: no-repeat;
    background-position: center;
    width: 58px;
    height: 58px;
}
.mz-icon-containers{
    background-image: url(../assets/icons/containers.png);
}
.mz-icon-microservices{
    background-image: url(../assets/icons/microservices.png);
    width: 56px;
    height: 56px;
}
.mz-icon-continuous-delivery{
    background-image: url(../assets/icons/continuous-delivery.png);
    width: 52px;
    height: 56px;
}
.mz-icon-devops{
    background-image: url(../assets/icons/devops.png);
    width: 59px;
    height: 58px;
}
.cloud-box-field span {
    padding-top: 5px;
}