#elip-box,
#cloud-box {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
}


.elip-box-item-content {
    width: 240px;
    height: 240px;
    border: 26px #F5F5F5 solid;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elip-box-item-content::before {
    content: "";
    position: absolute;
    width: 292px;
    background-image: url(../assets/icons/ellipse.png);
    height: 141px;
    left: -50px;
    top: -47px;
}

.elip-box-main {
    display: flex;
    gap: 40px;
}

.elip-box-item.elip-bottom .elip-box-item-content::before {
    content: "";
    position: absolute;
    width: 292px;
    background-image: url(../assets/icons/ellipse.png);
    height: 141px;
    top: auto;
    left: -50px;
    bottom: -47px;
    transform: rotate(180deg);
}

#cloud-box {
    padding-top: 350px;
}

.cloud-box-main {
    display: flex;
    align-items: flex-end;
}

.cloud-box-line {
    position: relative;
}

.cloud-box-field.box-field-01 {
    position: absolute;
    width: 143px;
    height: 142px;
    left: -225px;
    bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    border-radius: 50%;
}

.cloud-box-field.box-field-01::after {
    content: "";
    position: absolute;
    width: 85px;
    height: 3px;
    background-color: #333;
    top: 50%;
    right: -85px;
}

.cloud-box-field.box-field-02 {
    position: absolute;
    width: 143px;
    height: 142px;
    left: -180px;
    bottom: 180px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    border-radius: 50%;
}

.cloud-box-field.box-field-02::after {
    content: "";
    position: absolute;
    width: 105px;
    height: 3px;
    background-color: #333;
    top: 83%;
    right: -95px;
    transform: rotate(20deg);
}

.cloud-box-field.box-field-03 {
    position: absolute;
    width: 143px;
    height: 142px;
    left: -45px;
    bottom: 320px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    border-radius: 50%;
}

.cloud-box-field.box-field-03::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: #333;
    top: 130%;
    right: -47px;
    transform: rotate(58deg);
}

.cloud-box-field.box-field-04 {
    position: absolute;
    width: 143px;
    height: 142px;
    left: 140px;
    bottom: 384px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    border-radius: 50%;
}

.cloud-box-field.box-field-04::after {
    content: "";
    position: absolute;
    width: 122px;
    height: 3px;
    background-color: #333;
    top: 142%;
    right: -10px;
    transform: rotate(82deg);
}

.cloud-box-cicle-main {
    width: 430px;
    height: 430px;
    border: 26px #F5F5F5 solid;
    border-radius: 50%;
    margin-left: -150px;
}

.cloud-box-cicle-line-content-main p {
    font-size: 16px;
}

.cloud-box-cicle {
    display: flex;
}

.cloud-box-cicle-line {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.cloud-box-cicle-line-item {
    width: 100%;
}

.cloud-box-cicle-line-item.line-item-01 {
    margin-top: -80px;
    margin-left: -105px;
}

.cloud-box-cicle-line-content {
    position: relative;
    width: 250px;
}

.cloud-box-cicle-line-content::after {
    content: "";
    position: absolute;
    width: 250px;
    height: 3px;
    background-color: #e6e6e6;
    bottom: -20px;
    left: -3px;
}

.cloud-box-cicle-line-content-main {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 20px;
}

.cloud-box-cicle-line-item.line-item-01 .cloud-box-cicle-line-content::before {
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    width: 47px;
    height: 3px;
    transform: rotate(-40deg);
    bottom: -35px;
    left: -44px;
}

.cloud-box-cicle-line-content-main::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    right: -6px;
    bottom: -23px;
    background-color: #e6e6e6;
}

.cloud-box-cicle-line-item.line-item-02 {
    margin-left: 0px;
    margin-top: 30px;
}

.cloud-box-cicle-line-item.line-item-02 .cloud-box-cicle-line-content::before {
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    width: 32px;
    height: 3px;
    transform: rotate(-43deg);
    bottom: -31px;
    left: -30px;
}

.cloud-box-cicle-line-item.line-item-03 {
    margin-top: 85px;
}

.cloud-box-cicle-line-item.line-item-03 .cloud-box-cicle-line-content::after,
.cloud-box-cicle-line-item.line-item-03 .cloud-box-cicle-line-content {
    width: 345px;
}

.cloud-box-cicle-line-item.line-item-03 .cloud-box-cicle-line-content-main {
    padding-left: 70px;
}

.cloud-box-cicle-line-item.line-item-04 .cloud-box-cicle-line-content-main {
    padding-left: 40px;
}

.cloud-box-cicle-line-item.line-item-04 {
    margin-left: 0px;
    margin-top: 86px;
}

.cloud-box-cicle-line-item.line-item-04 .cloud-box-cicle-line-content::before {
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    width: 35px;
    height: 3px;
    transform: rotate(35deg);
    bottom: -11px;
    left: -34px;
}

.cloud-box-cicle-line-item.line-item-05 {
    margin-top: 85px;
    margin-left: -100px;
}

.cloud-box-cicle-line-item.line-item-05 .cloud-box-cicle-line-content::after,
.cloud-box-cicle-line-item.line-item-05 .cloud-box-cicle-line-content {
    width: 200px;
}

.cloud-box-cicle-line-item.line-item-05 .cloud-box-cicle-line-content::before {
    content: "";
    position: absolute;
    background-color: #e6e6e6;
    width: 69px;
    height: 3px;
    transform: rotate(45deg);
    bottom: 4px;
    left: -62px;
}