@import url(‘https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap’);
#techandsv_home, #mgzdigital_home, #insight_home{
    font-family: ‘Inter’, sans-serif;
    overflow: hidden;
    color: #414141;
}
#techandsv_home .techandsv_container, #mgzdigital_home .mgzdigital_container{
    width: 1460px;
    margin: 0 auto;
}
#techandsv_home .techandsv_title{
    background-color: #E7F8D1;
    position: relative;
    padding:28px 0;
}
#techandsv_home .techandsv_title:before {
    content:"";
    position: absolute;
    left: -100%;
    top: 0;
    width:100%;
    height:100%;
    background-color: #E7F8D1;
}
#techandsv_home .techandsv_title:after {
    content:"";
    position: absolute;
    right: -100%;
    top: 0;
    width:100%;
    height:100%;
    background-color: #E7F8D1;
}
#techandsv_home #teachandsv_tit_heading {
    font-size: 75px;
    font-weight: 700;
    color: #414141;
}
#techandsv_home .techandsv_title_des h3 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 150px;
    margin-bottom:0;
}
#techandsv_home .techandsv_title_des p {
    font-size: 32px;
    font-weight: 400;
}
#techandsv_home .techandsv_content .br_cum {
    color: #CBCBCB;
    font-size: 24px;
    font-weight: 400;
}
#techandsv_home .techandsv_content .content_title {
    font-weight: 400;
    font-size: 56px;
    color: #000000;
}

#techandsv_home .techandsv_content .content_teaser {
    font-weight: 400;
    font-size: 32px;
    color: #414141;
}
#techandsv_home .techandsv_content .content_tag {
    display: flex;
    justify-content: flex-start;
}
#techandsv_home .techandsv_content .content_tag a{
    font-weight: 400;
    font-size: 30px;
    align-items: center;
    text-align: center;
    padding: 11px 85px;
    background-color: #CBCBCB;
    margin-right:62px;
    border-radius: 3px;
    color: #000000;
    text-decoration: none;
}
#techandsv_home .content_des {
    display: flex;
    justify-content: space-around;
    margin-top:125px;
}
#techandsv_home .content_des>div {
    width: 50%;
}
#techandsv_home .row_reverse {
    flex-direction: row-reverse;
}
#techandsv_home .content_des .des_teaser {
    position: relative;
}
#techandsv_home .content_des .des_teaser .des_br_cum {
    font-weight: 400;
    font-size: 24px;
}
#techandsv_home .content_des .des_teaser .des_title {
    font-weight: 700;
    font-size: 32px;
    color: #414141;
}
#techandsv_home .content_des .des_teaser .des_descr {
    font-weight: 400;
    font-size: 28px;
    color: #414141;
}

#techandsv_home .content_des .des_teaser .des_link a {
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    background-color: #CBCBCB;
    padding: 24px 38px;

}
#techandsv_home .content_des .des_teaser .des_link {
    position: absolute;
    bottom: 0;
    left: 0;
}
#techandsv_home .row_reverse .des_teaser .des_link {
    left: auto;
    right: 0;
}
#techandsv_home .content_des .des_img {
    display: inline-block;
    overflow: hidden;
    margin: 0;
}
#techandsv_home .row_reverse .des_teaser {
    padding-left:80px;
    box-sizing: border-box;
}
#techandsv_home .content_related {
    color: #414141;
    font-weight: 400;
    font-size: 24px;
    margin-top:125px;
}
#techandsv_home .related_slider_block .related_slide_title span {
    font-weight: 400;
    font-size: 24px;
    color: #414141;
}
#techandsv_home .related_slider_block .related_slide_tit {
    font-weight: 400;
    font-size: 28px;
    color: #414141;
}
#techandsv_home .related_slider_block .related_slide_teaser {
    font-weight: 300;
    font-size: 20px;
    color: #515151;
}
#techandsv_home .techandsv_row_partner {
    margin: 125px 50px;
}
.partner_slider .slick-track {
    display: flex;
    align-items: center;
}
#mgzdigital_home .mgzdigital_title{
    position: relative;
    padding:28px 0;
}
#mgzdigital_home #mgzdigital_tit_heading {
    font-size: 75px;
    font-weight: 700;
    color: #414141;
}
#mgzdigital_home .mgzdigital_title_des h3 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 150px;
    margin-bottom:0;
}
#mgzdigital_home .mgzdigital_title_des p {
    font-size: 32px;
    font-weight: 400;
}
#mgzdigital_home .mgzdigital_content .mgzdigital_header_content .mgzdigital_teaser_content .br_cum {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
}
#mgzdigital_home .mgzdigital_content .mgzdigital_header_content .mgzdigital_teaser_content .content_title {
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
}
#mgzdigital_home .mgzdigital_content .mgzdigital_header_content .mgzdigital_teaser_content .content_teaser {
    font-weight: 400;
    font-size: 28px;
    color: #FFFFFF;
}

#mgzdigital_home .mgzdigital_content .mgzdigital_header_content {
    /*background-color: #CBCBCB;*/
    position: relative;
    display: flex;
}
/*#mgzdigital_home .mgzdigital_content .mgzdigital_header_content::before {*/
/*    content:"";*/
/*    position: absolute;*/
/*    left: -100%;*/
/*    top: 0;*/
/*    width:100%;*/
/*    height:100%;*/
/*    background-color: #CBCBCB;*/
/*}*/
/*#mgzdigital_home .mgzdigital_content .mgzdigital_header_content::after {*/
/*    content:"";*/
/*    position: absolute;*/
/*    right: -100%;*/
/*    top: 0;*/
/*    width:100%;*/
/*    height:100%;*/
/*    background-color: #CBCBCB;*/
/*}*/
#mgzdigital_home .mgzdigital_container_fw {
    width: 100%;
    background-image: url("../layout/mgz_bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}
#mgzdigital_home .mgzdigital_container_fw_grey {
    width: 100%;
    background: rgba(203, 203, 203, 0.5);
    height: 100%;
    margin-top:100px;
}
#mgzdigital_home .mgzdigital_content .mgzdigital_header_content .mgzdigital_teaser_content{
    width: 70%;
    /*float:left;*/
}
#mgzdigital_home .mgzdigital_content .mgzdigital_header_content .mgzdigital_img_content{
    width: 30%;
    transform: translateX(30px);
    z-index: 2;
}
#mgzdigital_home .mgzdigital_container_fw .content_title {
    padding-bottom: 40px;
}
#mgzdigital_home .mgzdigital_container_fw .br_cum {
    padding: 50px 0 30px 0;
}
#mgzdigital_home .mgzdigital_container_fw .content_teaser {
    padding-bottom: 170px;
}
#mgzdigital_home .history_break .br_cum {
    color: #414141;
    font-size: 24px;
    font-weight: 400;
}
#mgzdigital_home .history_break .mgzdigital_dropdown_btn {
    background: #CBCBCB;
    border-radius: 20px 0px;
    display: inline-block;
    padding: 5px 25px;
}
#mgzdigital_home .history_break .mgzdigital_dropdown_btn span{
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}
#mgzdigital_home .history_break .arrow-right {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #FFFFFF;
    float: right;
    transform: translateY(4px);
}
#mgzdigital_home .history_break {
    display: flex;
    justify-content: space-between;
}
#mgzdigital_home .history_timeline .sessions{
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
    padding: 0 130px;
}
#mgzdigital_home .history_timeline .sessions, #mgzdigital_home .history_timeline .sessions li {
    list-style: none;
}
#mgzdigital_home .history_timeline .sessions li {
    padding-bottom: 1.5rem;
    border-left: 10px solid #CBCBCB;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
    display: flex;
}
#mgzdigital_home .history_timeline .sessions li:last-child {
    border: 0;
    padding-bottom: 0;
    left: 10px;
}
#mgzdigital_home .history_timeline .sessions li:before{
     content: '';
     width: 27px;
     height: 23px;
     background: #D9D9D9;
     border: 1px solid #D9D9D9;
     border-radius: 50%;
     position: absolute;
     left: -19px;
     top: 0;
}
#mgzdigital_home .history_timeline .sessions .time{
    color: #2a2839;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}
#mgzdigital_home .history_timeline .sessions li p{
    color: #4f4f4f;
    font-family: sans-serif;
    line-height: 1.5;
    margin-top:0.4rem;

}
#mgzdigital_home .history_timeline .sessions .img_history, #mgzdigital_home .history_timeline .sessions .time_history{
    margin-left:100px;
}
#mgzdigital_home .history_timeline .sessions .time_history .time_history_time span {
    font-weight: 400;
    font-size: 24px;
    color: #CBCBCB;
}
#mgzdigital_home .history_timeline .sessions .time_history .time_history_des {
    color: #414141;
    font-weight: 700;
    font-size: 32px;
}
#mgzdigital_home .history_timeline .history_des_link {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
#mgzdigital_home .history_timeline .history_des_link a{
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    background: #CBCBCB;
    padding: 24px 60px;
    border-radius: 3px;
}
#mgzdigital_home .content_des {
    display: flex;
    justify-content: space-around;
    margin-top:125px;
}
#mgzdigital_home .content_des>div {
    width: 50%;
}
#mgzdigital_home .row_reverse {
    flex-direction: row-reverse;
}
#mgzdigital_home .content_des .des_br_cum {
    font-weight: 400;
    font-size: 24px;
}
#mgzdigital_home .content_des .des_title span {
    font-weight: 700;
    font-size: 32px;
}
#mgzdigital_home .content_des .des_descr span {
    font-weight: 400;
    font-size: 28px;
}
#mgzdigital_home .competitiveness_container {
    margin-top: 200px;
}
#mgzdigital_home .competitiveness_des_br_cum {
    font-weight: 400;
    font-size: 24px;
}
#mgzdigital_home .competitiveness {
    display:flex;
    justify-content: space-evenly;

}
#mgzdigital_home .competitiveness .circle_compe .circle_bg {
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    width: 236px;
    height: 236px;
    line-height: 236px;
    border-radius: 50%;
    text-align: center;
    background: #C4C4C4;
}
#mgzdigital_home .competitiveness .circle_des_teaser {
    font-weight: 400;
    font-size: 28px;
    text-align: center;
}
#mgzdigital_home  .circle_bg_contai {
    display: flex;
    justify-content: center;
}
#mgzdigital_home .content_des_chosen {

}
#mgzdigital_home .content_des_chosen .des_br_cum {
    font-weight: 400;
    font-size: 24px;
}
#mgzdigital_home .global_office .global_office_des .global_office_des_title{
    font-weight: 400;
    font-size: 24px;
    padding:20px 0;
    padding-top: 50px;
}
#mgzdigital_home .global_office .global_office_des .global_office_des_spec{
    font-weight: 700;
    font-size: 32px;
}
#mgzdigital_home .global_office .global_office_des .global_office_des_spec_chil{
    font-weight: 400;
    font-size: 32px;
}
#mgzdigital_home .global_office .global_office_des ul {
    list-style-type: disc;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-position: inside;
    padding: 0;
}
#mgzdigital_home .global_office {
    display: flex;
}
#mgzdigital_home .global_office .global_office_des ul li {
    list-style: none;
    padding: 20px 0;
}
#mgzdigital_home .global_office .global_office_des {
    width: 37%;
}
#mgzdigital_home .global_office .global_office_img {
    width: 63%;
    box-sizing: border-box;
    padding: 44px 61px;
}
#mgzdigital_home .global_office .global_office_des ul li span {
    font-weight: 700;
    font-size: 28px;
}
#mgzdigital_home .row_unreverse .des_img {
    padding-left: 70px;
}
#mgzdigital_home .row_reverse .des_teaser {
    padding-left: 70px;
}
#mgzdigital_home .customer_mgz h4{
    font-weight: 700;
    font-size: 48px;
    line-height: 0;
    margin-top: 250px;
}
#mgzdigital_home .customer_mgz .heading_spec {
    font-size: 48px;
    line-height: 0;
    white-space: nowrap;
}
#mgzdigital_home .customer_mgz ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;
    margin-bottom:220px;
}
#mgzdigital_home .customer_mgz ul li {
    list-style: none;
}
#mgzdigital_home .best_chosen_mgz {
    margin-bottom: 100px;
}
#mgzdigital_home .content_des_best_chosen_mgz {
    display: flex;
    margin-bottom: 100px;
}
#mgzdigital_home .content_des_best_chosen_mgz .des_teaser{
    width: 70%;
}
#mgzdigital_home .content_des_best_chosen_mgz .des_img{
    width: 30%;
}
#mgzdigital_home .content_des_best_chosen_mgz .des_teaser .des_br_cum{
    font-weight: 400;
    font-size: 24px;
}
#mgzdigital_home .content_des_best_chosen_mgz .des_teaser .des_title{
    font-weight: 700;
    font-size: 32px;
}
#mgzdigital_home .content_des_best_chosen_mgz .des_teaser .des_descr{
    font-weight: 400;
    font-size: 28px;
}
#mgzdigital_home .content_des_best_chosen_mgz .des_teaser .des_descr_link a{
    font-weight: 700;
    font-size: 20px;
    padding:24px 39px;
    background-color: #CBCBCB;
    color: #FFFFFF;
}
#mgzdigital_home .content_des_best_chosen_mgz .des_teaser .des_descr_link {
    margin-top:100px;
}
#mgzdigital_home .content_des_best_chosen_mgz .des_img img {
    margin-top: 80px;
}
#insight_home .insight_container_fw {
    background: #E8E7E7;
}
#insight_home .insight_container {
    width: 1460px;
    margin: 0 auto;
}
#insight_home .insight_container h1 {
    font-weight: 700;
    font-size: 75px;
    margin-left:200px;
}
#insight_home .insight_container p.insi_break_cum {
    font-weight: 400;
    font-size: 29px;
}
#insight_home .insight_container h4 {
    font-weight: 700;
    font-size: 40px;
}
#insight_home .insight_container p.ins_adv{
    font-weight: 400;
    font-size: 32px;
}
#insight_home .insight_header {
    padding: 50px 20px;
}
#insight_home .insight_content_des {
    margin: 100px 0;
}
#insight_home .insight_content_des img {
    max-width: 1460px;
}
#insight_home .insight_content_slider_heading {
    font-weight: 400;
    font-size: 24px;
}
#insight_home .insight_content_slider_chil .insight_content_slider_chil_teaser {
    font-weight: 400;
    font-size: 28px;
}
#insight_home .insight_content_slider {
    display: flex;
    justify-content: space-between;
}