/* Header Style */

#header {
    font-family: var(--main-font-family);
    height: var(--header-height);
    background-color: var(--mzd-black-color-6);
    width: 100%;
    display: flex;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
}

#header.fixed,
#header.header-big.fixed {
    height: var(--header-height-fixed);
    padding: 0;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    animation: header-show 0.35s linear;
}

@keyframes header-show {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

#header.header-big {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: var(--header-height);
    background-color: transparent;
    z-index: 2;
}

.header-banner {
    background-image: url('../assets/images/home/banner/banner.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: var(--header-height-big);
    position: relative;
    padding-top: 450px;
}

.header-banner h2.title {
    width: 100%;
    text-align: center;
    color: var(--mzd-black-color-6);
}

#header .header-content {
    background-color: var(--mzd-black-color-6);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px;
}

#header.header-big .header-content {
    color: var(--mzd-black-color-6);
    background-color: transparent;
}

#header .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#header ul#nav {
    display: flex;
    list-style-type: none;
    gap: 48px;
}

#header ul#nav li {
    width: auto;
}

#header ul#nav li a {
    font-weight: var(--font-weigth-bold);
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--mzd-black-color);
}

#header.header-big ul#nav li a {
    color: var(--mzd-black-color-6);
}

#header .logo-container a {
    position: relative;
}

#header.header-big img,
#header .logo-white {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
}

#header img,
#header .logo-white {
    transform: translateY(0px);
}

#header.header-big .logo-white {
    opacity: 1;
    visibility: visible;
}

/* Header Style */