/* Header Style */

#header {
    height: var(--header-height);
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font-family);
}

#header.fixed {
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    animation: header-show 0.35s linear;
}

@keyframes header-show {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

#header.header-green {
    background-color: #E6F8D1;
}

#header.header-gray {
    background-color: #CBCBCB;
}

#header .header-content {
    max-width: var(--header-max-width);
    height: var(--header-content-height);
    background-color: var(--main-color);
    width: var(--header-width);
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    transform: translateX(25px);
}

#header.header-green .header-content {
    background-color: #E6F8D1;
}

#header.header-gray .header-content {
    background-color: #CBCBCB;
}

#header .logo-container {
    display: flex;
    align-items: center;
}

#header .logo-container .logo {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-right: 5px;
    color: var(--text-color);
}

#header .logo-container .logo-image {
    font-size: 24px;
    line-height: 29px;
    text-align: justify;
    color: var(--text-color);
}

#header ul#nav {
    display: flex;
    list-style-type: none;
}

#header ul#nav li {
    gap: 2em;
}

#header ul#nav li a {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 1em 2em;
    color: var(--text-color);
}

/* Header Style */