/* Start Reference Insight 2 Page */
/* ------
------
------ */

#reference-content .insight-reference2-1 {
    width: 100%;
    padding: 20px 120px;
    background-color: #F2F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #414141;
}

#reference-content .insight-reference2-2 {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reference-content .insight-reference2-3 {
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

#reference-content .insight-reference2-3 .image .text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #414141;
}

#reference-content .insight-reference2-3 .image {
    width: 40%;
}

#reference-content .insight-reference2-4 {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 60px;
}

#reference-content .insight-reference2-4 .video {
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 32px;
    align-items: flex-end;
    text-align: right;
    margin-bottom: 140px;
}

#reference-content .insight-reference2-4 .video .description {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #414141;
}

#reference-content .insight-reference2-4 .description .separate {
    margin-bottom: 30px;
}

#reference-content .insight-reference2-4 .tag {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #414141;
}

/* ------
------
------ */
/* End Reference Insight 2 Page */