/* Start Reference Insight 1 Page */
/* ------
------
------ */

#reference-content {
    width: var(--page-max-width);
    margin: 0 auto;
    padding-top: 40px;
    color: #414141;
    font-family: var(--main-font-family);
}

#reference-content .reference-content-title {
    margin-bottom: 50px;
    margin-top: 100px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

#reference-content .reference-content-text {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
}

#reference-content .insight-reference1-1 {
    width: 50%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 490px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(80px);
}

#reference-content .insight-reference1-1 .image-top {
    position: relative;
}

#reference-content .insight-reference1-1 .image-bottom {
    position: absolute;
    width: 150%;
    left: 50%;
    top: 75%;
    transform: translateX(-50%);
}

#reference-content .insight-reference1-2 {
    width: 100%;
    margin-top: 60px;
    padding: 40px 30px;
    background-color: #F2F1F1;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 30px;
}

#reference-content .insight-reference1-2 .single-post {
    width: 100%;
    color: #414141;
}

#reference-content .insight-reference1-2 .single-post .title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

#reference-content .insight-reference1-2 .single-post .content {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

#reference-content .insight-reference1-3 {
    width: 100%;
    margin-top: 120px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 44px;
}

#reference-content .insight-reference1-4 {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}

#reference-content .insight-reference1-4 .video {
    width: 105%;
    display: flex;
    justify-content: right;
    gap: 32px;
    align-items: flex-end;
    text-align: right;
    margin-bottom: 140px;
}

#reference-content .insight-reference1-4 .video .description {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #414141;
}

#reference-content .insight-reference1-4 .description .separate {
    margin-bottom: 30px;
}

#reference-content .insight-reference1-4 .tag {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #414141;
}

#reference-content .insight-content-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

#reference-content .insight-content-button span {
    font-size: 20px;
    line-height: 100%;
    background-color: #939393;
    transform: translateX(80px);
    color: var(--white-color);
    display: flex;
    width: 112px;
    height: 52px;
    align-items: center;
    justify-content: center;
}

/* ------
------
------ */
/* End Reference Insight 1 Page */