/* Begin Insight Column 1 Page */
/* ------
------
------ */

/* Content */

#insight-column-1 #column1-content {
    width: var(--page-max-width);
    margin: 0 auto;
}

#insight-column-1 #column1-content .column1-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 133px;
}

#insight-column-1 #column1-content .column1-header .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 40px;
}

#insight-column-1 #column1-content .column1-header .user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#insight-column-1 #column1-content .column1-header .user .user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#insight-column-1 #column1-content .user-info .department {
    font-weight: var(--font-weigth-regular);
    font-size: 16px;
    line-height: 170%;
    letter-spacing: -0.03em;
    color: #777777;
}

#insight-column-1 #column1-content .user-info .name {
    font-weight: var(--font-weigth-bold);
    font-size: 20px;
    line-height: 170%;
    letter-spacing: -0.03em;
    color: #000000;
}

#insight-column-1 #column1-content .column1-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#insight-column-1 #column1-content .column1-details .left {
    width: 25%;
}

#insight-column-1 #column1-content .left .title {
    font-weight: var(--font-weigth-bold);
    color: #000000;
}

#insight-column-1 #column1-content .column1-details .right {
    width: 65%;
}

#insight-column-1 #column1-content .right .title {
    font-weight: var(--font-weigth-bold);
    font-size: 24px;
    line-height: 170%;
    letter-spacing: -0.03em;
    color: var(--mzd-black-color-2);
    margin-bottom: 24px;
}

#insight-column-1 #column1-content .right .title.light {
    font-size: 20px;
    margin-bottom: 28px;
}

#insight-column-1 #column1-content .right .text {
    font-weight: var(--font-weigth-regular);
    font-size: 20px;
    line-height: 170%;
    letter-spacing: -0.03em;
    color: var(--mzd-black-color-2);
}

#insight-column-1 #column1-content .right .separate {
    margin-bottom: 40px;
}

#insight-column-1 #column1-content .right .separate2 {
    margin-bottom: 80px;
}

#insight-column-1 #column1-content .right .separate3 {
    margin-bottom: 16px;
}

#insight-column-1 #column1-content .column1-details .insight-column1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 150px;
}

#insight-column-1 #column1-content .insight-column1-1 .right .text {
    font-weight: var(--font-weigth-regular);
    font-size: 24px;
    line-height: 170%;
    letter-spacing: -0.03em;
    color: var(--mzd-black-color-2);
}

#insight-column-1 #column1-content .insight-column1-2 .right svg {
    margin-bottom: 40px;
}

#insight-column-1 #column1-content .insight-column1-3 .right svg {
    margin-bottom: 28px;
}

#insight-column-1 #column1-content .insight-column1-3 .right .image {
    width: 100%;
    padding: 70px 35px;
    background-color: #FAFAFA;
    margin-bottom: 36px;
}

#insight-column-1 #column1-content .insight-column1-3 .right .image img {
    width: 100%;
    display: block;
    object-fit: cover;
}

#insight-column-1 #column1-content .insight-column1-3 .right .table {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 81px;
}

#insight-column-1 #column1-content .insight-column1-3 .right .table .row {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    width: 50%;
}

#insight-column-1 #column1-content .insight-column1-3 .right .table .row .column {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

#insight-column-1 #column1-content .insight-column1-4 .paragraph {
    margin-top: 54px;
    margin-bottom: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-weigth-bold);
    font-size: 20px;
    line-height: 170%;
    text-align: center;
    letter-spacing: -0.03em;
    color: var(--mzd-black-color-2);
}

/* Content */

/* ------
------
------ */
/* End Insight Column 1 Page */