/* Begin Insight Column 2 Page */
/* ------
------
------ */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');

@font-face {
    font-family: Moebius Korea;
    src: url('../assets/fonts/MOEBIUS-KOREA.TTF');
    font-weight: 500;
}

#insight-column-2 .header-banner-insight {
    background-image: url('../assets/images/insight/column/2/banner.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: var(--header-height-big);
    position: relative;
    padding-top: 250px;
    padding-left: 240px;
}

#insight-column-2 .header-banner-insight .desc {
    width: 100%;
    font-weight: var(--font-weigth-bold);
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--mzd-black-color-6);
    margin-bottom: 20px;
}

#insight-column-2 .header-banner-insight h2.title {
    width: 100%;
    color: var(--mzd-black-color-6);
    display: flex;
}

/* Content */

#insight-column-2 #column2-content {
    width: var(--page-max-width);
    margin: 0 auto;
}

#insight-column-2 #column2-content .project {
    width: 100%;
    margin-top: 109px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 208px;
}

#insight-column-2 #column2-content .project .left {
    width: 272px;
}

#insight-column-2 #column2-content .project .left .title {
    font-weight: var(--font-weigth-bold);
    text-transform: uppercase;
    color: #000000;
}

#insight-column-2 #column2-content .project .right {
    flex: 1;
}

#insight-column-2 #column2-content .project .right .content {
    font-weight: var(--font-weigth-regular);
    font-size: 24px;
    line-height: 170%;
    letter-spacing: -0.03em;
    color: var(--mzd-black-color-2);
}

#insight-column-2 #column2-content .trend {
    width: 100%;
    margin-top: 192px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 90px;
}

#insight-column-2 #column2-content .trend .left {
    width: 679px;
}

#insight-column-2 #column2-content .project .right {
    flex: 1;
}

#insight-column-2 #column2-content .trend .title {
    font-weight: var(--font-weigth-bold);
    color: #000000;
    margin-bottom: 47px;
}

#insight-column-2 #column2-content .trend .content {
    font-weight: var(--font-weigth-regular);
    font-size: 20px;
    line-height: 170%;
    letter-spacing: -0.03em;
    color: var(--mzd-black-color-2);
}

#insight-column-2 #column2-content .mission {
    width: 100%;
    margin-top: 234px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#insight-column-2 #column2-content .mission .title {
    font-weight: var(--font-weigth-bold);
    color: #000000;
    margin-bottom: 101px;
}

#insight-column-2 #column2-content .mission .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#insight-column-2 #column2-content .typography {
    width: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#insight-column-2 #column2-content .typography .typography-title {
    font-weight: var(--font-weigth-bold);
    color: #000000;
}

#insight-column-2 #column2-content .typography .typography-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 101px;
}

#insight-column-2 #column2-content .typography-content .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

#insight-column-2 #column2-content .typography-content .title {
    font-weight: var(--font-weigth-bold);
    font-size: 18px;
    line-height: 100%;
    color: #000000;
    opacity: 0.2;
    margin-bottom: 40px;
}

#insight-column-2 #column2-content .typography-content .left .text {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    color: #000000;
}

#insight-column-2 #column2-content .typography-content .left .text.moebius {
    font-family: 'Moebius Korea', sans-serif;
}

#insight-column-2 #column2-content .typography-content .left .text.jost {
    font-family: 'Jost', sans-serif;
}

#insight-column-2 #column2-content .typography-content .left .text.upper {
    text-transform: uppercase;
}

#insight-column-2 #column2-content .typography-content .left .text.spacing1 {
    letter-spacing: 0.3em;
}

#insight-column-2 #column2-content .typography-content .left .text.spacing2 {
    letter-spacing: 0.21em;
}

#insight-column-2 #column2-content .typography-content .left .text.spacing3 {
    letter-spacing: 0.44em;
}

#insight-column-2 #column2-content .typography-content .left .text.spacing4 {
    letter-spacing: 0.35em;
}

#insight-column-2 #column2-content .typography-content .left .text.separate1 {
    margin-bottom: 32px;
}

#insight-column-2 #column2-content .typography-content .left .text.separate2 {
    margin-bottom: 40px;
}

#insight-column-2 #column2-content .typography-content .left .text.separate3 {
    margin-bottom: 117px;
}

#insight-column-2 #column2-content .typography-content .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#insight-column-2 #column2-content .typography-content .right .items {
    width: 100%;
    display: flex;
    justify-content: left;
    align-content: center;
    gap: 24px;
}

#insight-column-2 #column2-content .typography-content .right .items.long {
    gap: 28px;
}

#insight-column-2 #column2-content .items .single-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#insight-column-2 #column2-content .items .single-item .color {
    width: 61px;
    height: 61px;
    border-radius: 100px;
    margin-bottom: 12px;
}

#insight-column-2 #column2-content .items .single-item .color.long {
    width: 180px;
}

#insight-column-2 #column2-content .items .single-item .codes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#insight-column-2 #column2-content .items .single-item .code {
    font-weight: var(--font-weigth-regular);
    font-size: 13px;
    line-height: 100%;
    text-align: center;
    color: #000000;
    opacity: 0.2;
}

#insight-column-2 #column2-content .illustrated {
    width: 100%;
    margin-top: 266px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#insight-column-2 #column2-content .illustrated .title {
    font-weight: var(--font-weigth-bold);
    color: #000000;
}

#insight-column-2 #column2-content .illustrated .text {
    font-weight: var(--font-weigth-regular);
    font-size: 20px;
    line-height: 170%;
    letter-spacing: -0.03em;
    color: var(--mzd-black-color-2);
    margin-top: 47px;
    margin-bottom: 119px;
}

#insight-column-2 #column2-content .illustrated .images {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#insight-column-2 #column2-content .illustrated .images .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#insight-column-2 #column2-content .illustrated .images .image.top {
    gap: 136px;
    margin-bottom: 101px;
}

#insight-column-2 #column2-content .illustrated .images .image.bottom {
    gap: 77px;
}

#insight-column-2 #column2-content .iconography {
    width: 100%;
    margin-top: 159px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#insight-column-2 #column2-content .iconography .title {
    font-weight: var(--font-weigth-bold);
    color: #000000;
}

#insight-column-2 #column2-content .iconography .images {
    width: 100%;
    padding-left: 60px;
    margin-top: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 73px;
}

#insight-column-2 #column2-content .iconography .images .left {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 53px;
}

#insight-column-2 #column2-content .images .left .single-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#insight-column-2 #column2-content .images .left .single-item .image {
    margin-bottom: 16px;
}

#insight-column-2 #column2-content .images .left .single-item .text {
    font-family: var(--sub-font-family);
    font-style: normal;
    font-weight: var(--font-weigth-regular);
    font-size: 13px;
    line-height: 100%;
    text-align: center;
    color: #000000;
}

#insight-column-2 #column2-content .muffin {
    width: 100%;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#insight-column-2 #column2-content .muffin .title {
    font-weight: var(--font-weigth-bold);
    color: #000000;
}

#insight-column-2 #column2-content .muffin .title.separate {
    margin-bottom: 31px;
}

#insight-column-2 #column2-content .muffin .content {
    font-weight: var(--font-weigth-regular);
    font-size: 20px;
    line-height: 170%;
    letter-spacing: -0.03em;
    color: #000000;
    opacity: 0.5;
}

#insight-column-2 #column2-content .muffin .content.separate {
    margin-bottom: 63px;
}

#insight-column-2 #column2-content .muffin .images {
    width: calc(var(--page-max-width) + 100px);
    transform: translateX(-50px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#insight-column-2 #column2-content .muffin .images .single-image {
    background: #F9F9F9;
    box-shadow: 31px 33px 107px -16px rgba(48, 48, 48, 0.12);
    border-radius: 25px;
    overflow: hidden;
}

/* Content */

/* Banner */

#insight-column-2 #column2-banner {
    width: 100%;
    background-image: url('../assets/images/insight/column/2/project-banner.png');
    background-color: #3673EE;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 970px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#insight-column-2 #column2-banner .column2-banner-wrapper {
    width: var(--page-max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#insight-column-2 #column2-banner .column2-banner-wrapper .title {
    font-family: 'Moebius Korea', sans-serif;
    font-weight: 700;
    font-size: 79px;
    line-height: 120%;
    color: var(--mzd-black-color-6);
}

#insight-column-2 #column2-banner .column2-banner-wrapper .title.separate {
    margin-bottom: 54px;
}

#insight-column-2 #column2-banner .column2-banner-wrapper .content {
    font-weight: var(--font-weigth-regular);
    font-size: 20px;
    line-height: 170%;
    letter-spacing: -0.03em;
    color: var(--mzd-black-color-6);
    opacity: 0.5;
}

/* Banner */

/* Main Screen */

#insight-column-2 #mainscreen {
    width: 100%;
    position: relative;
    margin-top: 177px;
    height: 1950px;
    overflow: hidden;
}

#insight-column-2 #mainscreen .mainscreen-background {
    position: absolute;
    top: 489px;
    left: 0;
    background-color: #2295FF;
    height: 415px;
    width: 100%;
}

#insight-column-2 #mainscreen .mainscreen-title {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 128px;
    left: calc((100% - var(--page-max-width))/2);
}

#insight-column-2 #mainscreen .mainscreen-title .title {
    font-weight: var(--font-weigth-bold);
    color: #000000;
}

#insight-column-2 #mainscreen .mainscreen-title .title.separate {
    margin-bottom: 31px;
}

#insight-column-2 #mainscreen .mainscreen-title .content {
    font-weight: var(--font-weigth-regular);
    font-size: 20px;
    line-height: 170%;
    letter-spacing: -0.03em;
    color: #000000;
    opacity: 0.5;
}

#insight-column-2 #mainscreen .mainscreen-title .content.separate {
    margin-bottom: 63px;
}

#insight-column-2 #mainscreen .mainscreen-content {
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 40px;
    position: absolute;
    top: 669px;
    left: calc((100% - var(--page-max-width))/2);
    margin-bottom: 200px;
}

#insight-column-2 #mainscreen .mainscreen-content .slick-track {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 40px;
    position: absolute;
    height: 1111px;
}

#insight-column-2 #mainscreen .mainscreen-content .slick-list {
    overflow: inherit;
}

#insight-column-2 #mainscreen .mainscreen-content .single-block {
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

#insight-column-2 #mainscreen .mainscreen-content .single-block.block-1 {
    transform: translateY(0px);
}

#insight-column-2 #mainscreen .mainscreen-content .single-block.block-2 {
    transform: translateY(-248px);
}

#insight-column-2 #mainscreen .mainscreen-content .single-block.block-3 {
    transform: translateY(-441px);
}

#insight-column-2 #mainscreen .mainscreen-content .single-block.block-4 {
    transform: translateY(-669px);
}

#insight-column-2 #mainscreen .mainscreen-content .single-block.block-5 {
    transform: translateY(-562px);
}

#insight-column-2 #mainscreen .mainscreen-content .single-block.block-6 {
    transform: translateY(-160px);
}

#insight-column-2 #mainscreen .mainscreen-content .single-block .image {
    background: var(--mzd-black-color-6);
    box-shadow: 31px 33px 107px -16px rgba(48, 48, 48, 0.12);
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 40px;
}

/* Main Screen */

/* ------
------
------ */
/* End Insight Column 2 Page */