/* Begin Home Page */
/* ------
------
------ */

#main {
    font-family: var(--main-font-family);
    width: 100%;
    margin: 0 auto;
    font-style: normal;
}

#content-right {
    width: 100%;
    max-width: var(--header-max-width);
    margin: 0 auto;
    padding-left: 135px;
}

/* Slider Style */

#slider {
    width: 1460px;
}

#slider.fixed {
    margin-top: 127px;
}

#slider .slider-title {
    padding: 40px 0 20px 0;
    font-weight: 400;
    font-size: 56px;
    line-height: 68px;
    color: var(--text-color);
}

#slider .slider-title .bold {
    font-weight: 700;
}

#slider .slider-title .light {
    font-weight: 400;
}

#slider .slider-sub-title {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: var(--text-color);
}

#slider .slider-content {
    padding: 50px 0;
    display: flex;
    align-items: center;
    gap: 64px;
    overflow: hidden;
}

#slider .slider-content .slick-list {
    padding: 0 !important;
}

#slider .slider-content .slick-cloned {
    margin-right: 0;
}

#slider .slider-content .slick-slide {
    margin-right: 64px;
}

#slider .slider-image {
    width: var(--slider-image-width);
    height: var(--slider-image-height);
}

#slider .slider-text {
    font-weight: 700;
    padding: 1em 1.5em;
    font-size: 23px;
    line-height: 28px;
    color: var(--text-color);
}

#slider .slider-text .main-text {
    margin-right: 5px;
}

#slider .slider-text .sub-text {
    font-weight: 400;
}

#slider .slider-banner {
    height: 750px;
    max-height: 750px;
    margin-top: 130px;
}

/* Slider Style */

/* Content Style */

#tech-content {
    background-color: var(--sub-gray-color);
    width: 100%;
    margin-top: 200px;
}

#content {
    width: 100%;
    padding: 80px 0;
    font-weight: 400;
}

#content .content-description {
    font-size: 17px;
    line-height: 21px;
    color: var(--text-color);
}

#content .content-title {
    margin-top: 25px;
    font-size: 53px;
    line-height: 64px;
    color: var(--text-color);
}

#content .content-title .bold {
    font-weight: 700;
}

#content .content-title .light {
    font-weight: 400;
}

#content .content-list {
    display: flex;
    margin-top: 115px;
}

#content .content-list .slick-track {
    display: flex;
    gap: 103px;
}

#content .single-content {
    width: var(--content-slide-width);
}

#content .content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#content .content-wrapper.long {
    height: var(--content-slide-height-long);
}

#content .content-wrapper.short {
    height: var(--content-slide-height-short);
}

#content .content-wrapper.content-1 {
    background-color: #A6A6A6;
}

#content .content-wrapper.content-2 {
    background-color: #515151;
}

#content .content-wrapper.content-3 {
    background-color: #626262;
}

#content .content-wrapper.content-4 {
    background-color: #2C2C2C;
}

#content .content-image {
    width: var(--content-slide-image-width);
    aspect-ratio: 1/1;
}

#content .content-text {
    margin-top: 10px;
    font-size: 24px;
    line-height: 29px;
    color: #121212;
}

/* Content Style */

/* News Style */

#news {
    max-width: var(--header-max-width);
    width: var(--header-width);
    transform: translateX(25px);
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 165px;
    font-weight: 400;
}

#news .news-desc {
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
}

#news .news-title {
    font-size: 56px;
    line-height: 68px;
    margin-top: 20px;
    color: var(--text-color);
}

#news .news-list {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
}

#news .single-news {
    width: 100%;
}

#news .news-image {
    height: var(--news-single-news-height);
    width: 100%;
    margin-bottom: 45px;
}

#news .news-content {
    font-size: 22px;
    line-height: 27px;
    color: var(--text-color);
}

/* News Style */

/* Populate Style */

#populate {
    max-width: var(--header-max-width);
    width: var(--header-width);
    transform: translateX(25px);
    margin: 0 auto;
    margin-top: 170px;
    margin-bottom: 180px;
    font-weight: 400;
}

#populate .populate-title {
    font-size: 56px;
    line-height: 68px;
    margin-bottom: 80px;
    color: var(--text-color);
}

#populate .populate-title .light {
    font-weight: 400;
}

#populate .populate-title .bold {
    font-weight: 700;
}

#populate .channel-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}

#populate .channel-list .channel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}

/* Populate Style */

/* Welcome Style */

#welcome {
    width: 100%;
    background-color: var(--sub-color);
    padding-bottom: 60px;
    overflow: hidden;
}

#welcome .welcome-wrapper {
    max-width: var(--header-max-width);
    width: var(--header-width);
    transform: translateX(25px);
    margin: 0 auto;
    font-weight: 400;
    margin-bottom: 60px;
    background-color: var(--card-color);
    padding: 150px 0 120px 120px;
    position: relative;
}

#welcome .welcome-wrapper::after {
    content: "";
    width: 1000%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -1000%;
    background-color: var(--card-color);
}

#welcome .welcome-content {
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;
    color: var(--text-color);
}

#welcome .wrapper-button {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 1em;
    cursor: pointer;
    user-select: none;
    margin-top: 90px;
}

#welcome .wrapper-button span {
    font-size: 17px;
    line-height: 100%;
    background-color: var(--text-sub-color);
    color: var(--white-color);
    display: flex;
    text-align: center;
    width: 224px;
    height: 60px;
    align-items: center;
    justify-content: center;
}

/* Welcome Style */

/* ------
------
------ */
/* End Home Page */