/* Start Main Insight Page */
/* ------
------
------ */

/* Inside Header */

#insight-header {
    font-family: var(--main-font-family);
    background-color: #E8E7E7;
    width: 100%;
    padding: 70px 0;
    font-weight: 700;
}

#insight-header.fixed {
    margin-top: 127px;
}

#insight-header.header-green {
    background-color: #E6F8D1;
}

#insight-header.header-gray {
    background-color: #CBCBCB;
}

#insight-header.header-background {
    padding: 30px 0 70px 0;
}

#insight-header .insight-wrapper {
    width: var(--page-max-width);
    margin: 0 auto;
}

#insight-header .insght-title {
    font-size: 75px;
    line-height: 91px;
    padding-bottom: 40px;
    color: var(--text-sub-color-2);
}

#insight-header .insght-return {
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    color: var(--text-sub-color-2);
}

#insight-header .insght-content {
    font-size: 40px;
    line-height: 48px;
    margin-top: 60px;
    color: var(--text-sub-color-2);
}

#insight-header .insght-sub-content {
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    margin-top: 20px;
    color: var(--text-sub-color-2);
}

/* Inside Header */

/* Inside Content */

#insight-content {
    font-family: var(--main-font-family);
    width: var(--page-max-width);
    margin: 0 auto;
    padding-top: 125px;
}

#insight-content .insight-content-text {
    width: 100%;
    font-weight: 400;
    font-size: 27px;
    line-height: 34px;
    color: #414141;
}

#insight-content .insight-content-text.down {
    margin-bottom: 30px;
}

#insight-content .insight-study-1 {
    width: 80%;
    margin: 0 auto;
    margin-top: 125px;
    margin-bottom: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 82px;
}

#insight-content .insight-study-1 .text {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #414141;
}

#insight-content .insight-study-2 {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 150px;
    display: grid;
    align-items: center;
    justify-content: center;
}

#insight-content .insight-study-2 .text {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    align-items: center;
    justify-content: flex-start;
}

#insight-content .insight-study-2 .text .inner-text {
    width: 100%;
    margin: 10px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #414141;
}

#insight-content .insight-study-3 {
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#insight-content .insight-study-4,
#insight-content .insight-study-5,
#insight-content .insight-study-6 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#insight-content .insight-study-4 {
    margin-top: 100px;
    margin-bottom: 150px;
}

#insight-content .insight-study-5 {
    margin-top: 80px;
    margin-bottom: 164px;
}

#insight-content .insight-study-6 {
    margin-top: 60px;
    margin-bottom: 127px;
}

#insight-content .insight-study-7 {
    width: 100%;
    margin-top: 180px;
    margin-bottom: 143px;
}

#insight-content .insight-study-7 .video {
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 32px;
    align-items: flex-end;
    text-align: right;
    margin-bottom: 140px;
}

#insight-content .insight-study-7 .video .description {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #414141;
}

#insight-content .insight-study-7 .description .separate {
    margin-bottom: 30px;
}

#insight-content .insight-study-7 .tag {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #414141;
}

#insight-content .insight-content-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

#insight-content .insight-content-button span {
    font-size: 20px;
    line-height: 100%;
    background-color: #939393;
    transform: translateX(80px);
    display: flex;
    width: 112px;
    height: 52px;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}

/* Inside Content */

/* Related Content */

#related-content {
    font-family: var(--main-font-family);
    width: var(--page-max-width);
    margin: 0 auto;
    margin-top: 145px;
}

#related-content .related-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #414141;
}

#related-content .related-list {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 27px;
}

#related-content .single-related {
    width: 100%;
}

#related-content .related-image {
    height: 254px;
}

#related-content .related-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#related-content .related-content {
    margin-top: 15px;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #414141;
}


/* Related Content */

/* ------
------
------ */
/* End Main Insight Page */