/* Begin Home Page */
/* ------
------
------ */

#main {
    font-family: var(--main-font-family);
    width: 100%;
    margin: 0 auto;
    font-style: normal;
}

#main .content-right {
    width: 100%;
    margin: 0 auto;
    margin-right: 0;
}

#main .content-left {
    width: 100%;
    margin: 0 auto;
    margin-left: 0;
}

#main .mzd-container {
    width: auto;
    display: flex;
    overflow: hidden;
    margin-left: calc((100% - var(--page-max-width))/2 + 20px);
}

#main .mzd-container-left {
    width: auto;
    display: flex;
    overflow: hidden;
    margin-right: calc((100% - var(--page-max-width))/2 + 20px);
}

/* Slider Style */

#slider {
    width: 100%;
    margin-top: 200px;
}

#slider .slider-title .bold {
    font-weight: var(--font-weigth-bold);
    color: var(--mzd-black-color);
}

#slider .slider-sub-title {
    font-weight: var(--font-weigth-regular);
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #333333;
    color: var(--mzd-black-color-2);
}

#slider .slider-content {
    padding-top: 80px;
    display: flex;
    align-items: center;
    gap: 64px;
    overflow: hidden;
}

#slider .slider-content .slick-list {
    padding: 0 !important;
}

#slider .slider-content .slick-cloned {
    margin-right: 0;
}

#slider .slider-content .slick-slide {
    margin-right: 64px;
}

#slider .slider-content .slick-arrow {
    position: absolute;
}

#slider .slider-content .prev-arrow {
    top: 50%;
    transform: translateY(-50%) rotateY(180deg);
    left: 10px;
    background-image: url('../assets/arrows/right_arrow.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 104px;
    height: 65px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    z-index: 2;
}

#slider .slider-content .prev-arrow:hover {
    background-image: url('../assets/arrows/right_arrow_blue.png');
}

#slider .slider-content .next-arrow {
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background-image: url('../assets/arrows/right_arrow.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 104px;
    height: 65px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

#slider .slider-content .next-arrow:hover {
    background-image: url('../assets/arrows/right_arrow_blue.png');
}

#slider .slider-content ul.slick-dots {
    position: absolute;
    display: inherit;
    bottom: 15px;
    left: 70%;
    transform: translateX(-50%);
    list-style-type: none;
    gap: 12px;
}

#slider .slider-content ul.slick-dots li {
    width: 12px;
    height: 12px;
    text-indent: -9999px;
    white-space: nowrap;
    background: var(--mzd-black-color-5);
    border-radius: 19px;
    transition: 0.5s;
}

#slider .slider-content ul.slick-dots li.slick-active {
    width: 30px;
    background: var(--mzd-blue-color);
}


#slider .slider-image {
    width: var(--slider-image-width);
    filter: drop-shadow(20px 30px 20px rgba(0, 0, 0, 0.1));
}

#slider .slider-image img {
    display: block;
    width: 100%;
}

#slider .slider-text {
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

#slider .slider-text .main-text {
    background-color: #000000;
    padding: 12px 16px;
    font-family: var(--sub-font-family);
    font-weight: var(--font-weigth-bold);
    font-size: 20px;
    line-height: 100%;
    color: var(--mzd-black-color-6);
}

#slider .slider-text .sub-text {
    font-weight: var(--font-weigth-bold);
    letter-spacing: -0.03em;
    color: #000000;
}

/* Slider Style */

/* Brand Style */

.brand-wrapper-content {
    background-color: var(--bg-color);
    width: 100%;
    margin-top: 200px;
    padding-top: 130px;
    padding-bottom: 148px;
}

#brand {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

#brand .brand-title {
    font-weight: var(--font-weigth-bold);
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--mzd-blue-color);
}

#brand .brand-content {
    margin-top: 15px;
    font-weight: var(--font-weigth-bold);
    color: var(--mzd-black-color);
}

#brand .brand-sub-content {
    margin-top: 25px;
    font-weight: var(--font-weigth-regular);
    color: var(--mzd-black-color-3);
}

#brand .slider-brand {
    margin-top: 80px;
}

#brand .slick-track {
    display: flex;
    align-items: center;
    gap: 80px;
}

#brand .single-brand {
    display: block;
    align-items: center;
    justify-content: center;
}

#brand .single-brand img {
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
}

/* Brand Style */

/* Content Style */

.tech-content {
    background-image: url('../assets/images/home/techs/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
}

#content {
    width: var(--page-max-width);
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 130px;
}

#content .content-description {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--mzd-blue-color);
}

#content .content-title {
    font-weight: var(--font-weigth-bold);
    color: var(--mzd-black-color-6);
}

#content .content-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 40px;
}

#content .single-content {
    width: var(--content-slide-width);
}

#content .content-image {
    width: 100%;
    transition: 0.5s;
}

#content .content-image:hover {
    opacity: 0.8;
}

#content .content-image img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

#content .content-text {
    margin-top: 20px;
    font-family: var(--main-font-family);
    font-weight: var(--font-weigth-bold);
    font-size: 18px;
    line-height: 135%;
    color: #DDDDDD;
}

/* Content Style */

/* News Style */

#news {
    width: var(--page-max-width);
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 180px;
}

#news .news-desc {
    font-weight: var(--font-weigth-bold);
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--mzd-blue-color);
}

#news .news-title {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    gap: 60px;
}

#news .news-title .title {
    font-weight: var(--font-weigth-bold);
    color: var(--mzd-black-color);
}

#news .news-title .content {
    font-weight: 700;
    font-size: 20px;
    line-height: 240%;
    color: #999999;
    position: relative;
    transition: 0.5s;
}

#news .news-title .content:hover {
    color: var(--mzd-blue-color);
}

#news .news-title .content::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    width: 22px;
    height: 22px;
    background-image: url(../assets/arrows/foward-gray-arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.5s;
}

#news .news-title .content:hover:after {
    background-image: url(../assets/arrows/foward-blue-arrow.png);
    transform: translateX(5px) translateY(-50%);
}

#news .news-list {
    margin-top: 35px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 55px;
}

#news .single-news {
    width: 100%;
}

#news .news-image {
    width: 100%;
}

#news .news-image img {
    display: block;
    width: 100%;
    object-fit: cover;
}

#news .news-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#news .news-title {
    margin-bottom: 20px;
    width: 90%;
    font-weight: var(--font-weigth-semi-bold);
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #000000;
}

#news .news-content {
    width: 90%;
    font-weight: var(--font-weigth-regular);
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: var(--font-weigth-regular);
}

/* News Style */

/* Welcome Style */

#welcome {
    width: 100%;
    padding: 160px 0;
    overflow: hidden;
    background-image: url('../assets/images/home/welcome/background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#welcome .welcome-wrapper {
    width: var(--page-max-width);
    margin: 0 auto;
}

#welcome .welcome-content {
    width: 100%;
}

#welcome .welcome-content .content {
    display: inline;
    font-weight: var(--font-weigth-bold);
    color: var(--mzd-black-color-6);
}

#welcome .welcome-content .content-fill {
    display: inline;
    margin: 0 20px;
    border-bottom: 6px solid var(--mzd-black-color-6);
    font-weight: var(--font-weigth-bold);
    color: var(--mzd-blue-color);
}

#welcome .wrapper-button {
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
    user-select: none;
    margin-top: 60px;
}

#welcome .wrapper-button span {
    width: 202px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--font-weigth-bold);
    font-size: 20px;
    line-height: 135%;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
    background-color: var(--mzd-black-color-6);
    color: var(--mzd-black-color);
    border: 1px solid var(--mzd-black-color-3);
}

#welcome .wrapper-button span:hover {
    background-color: var(--mzd-blue-color);
    color: var(--mzd-black-color-6);
    border: 1px solid var(--mzd-blue-color);
}

/* Welcome Style */

/* ------
------
------ */
/* End Home Page */