/* Start Main Insight Page */
/* ------
------
------ */

#insight-kstudy #main {
    font-family: var(--main-font-family);
    width: 100%;
    margin: 0 auto;
    font-style: normal;
}

#insight-kstudy #main .content-right {
    width: 100%;
}

#insight-kstudy #main .content-left {
    width: 100%;
}

#insight-kstudy #main .mzd-container {
    width: auto;
    display: flex;
    overflow: hidden;
    margin-left: calc((100% - var(--page-max-width))/2 + 20px);
}

#insight-kstudy #main .mzd-container.full {
    margin-left: 0px;
}

#insight-kstudy #main .mzd-container-left {
    width: auto;
    display: flex;
    overflow: hidden;
    margin-right: calc((100% - var(--page-max-width))/2 + 20px);
}

/* Insight Header */

#insight-kstudy #insight-header {
    font-family: var(--main-font-family);
    width: 100%;
    margin-top: 120px;
    margin-bottom: 100px;
}

#insight-kstudy #insight-header .insight-wrapper {
    width: var(--page-max-width);
    margin: 0 auto;
}

#insight-kstudy #insight-header .insight-title {
    font-weight: var(--font-weigth-bold);
    color: #000000;
    margin-bottom: 15px;
}

#insight-kstudy #insight-header .insight-content {
    font-weight: var(--font-weigth-regular);
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: var(--text-sub-color-2);
}

/* Insight Header */

/* Insight Banner */

#insight-kstudy #insight-banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

#insight-kstudy #insight-banner .left {
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#insight-kstudy #insight-banner .left img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

#insight-kstudy #insight-banner .right {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#insight-kstudy #insight-banner .right .type {
    background: #000000;
    padding: 10px 14px;
    font-family: var(--sub-font-family);
    font-weight: var(--font-weigth-bold);
    font-size: 16px;
    line-height: 100%;
    color: var(--mzd-black-color-6);
    margin-bottom: 16px;
}

#insight-kstudy #insight-banner .right .title {
    font-weight: var(--font-weigth-bold);
    color: var(--mzd-black-color);
}

#insight-kstudy #insight-banner .right .title.separate {
    margin-bottom: 25px;
}

#insight-kstudy #insight-banner .right .content {
    font-weight: var(--font-weigth-regular);
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: var(--text-sub-color-2);
}

#insight-kstudy #insight-banner .right .content.separate {
    margin-bottom: 55px;
}

#insight-kstudy #insight-banner .right .more a {
    font-weight: var(--font-weigth-bold);
    font-size: 20px;
    line-height: 100%;
    color: var(--mzd-black-color-4);
    transition: 0.5s;
    position: relative;
}

#insight-kstudy #insight-banner .right .more a:hover {
    color: var(--mzd-blue-color);
}

#insight-kstudy #insight-banner .right .more a::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    width: 22px;
    height: 22px;
    background-image: url(../assets/arrows/foward-gray-arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.5s;
}

#insight-kstudy #insight-banner .right .more a:hover::after {
    background-image: url(../assets/arrows/foward-blue-arrow.png);
    transform: translateX(5px) translateY(-50%);
}


/* Insight Banner */

/* Insight List */

#insight-kstudy #insight-list {
    width: 100%;
    background-color: var(--bg-color);
    margin-top: 200px;
}

#insight-kstudy #insight-list .insight-list-wrapper {
    width: var(--page-max-width);
    margin: 0 auto;
    padding-top: 97px;
    padding-bottom: 200px;
}

#insight-kstudy #insight-list .insight-list-wrapper .types {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    gap: 16px;
}

#insight-kstudy #insight-list .types .type {
    border-radius: 2px;
    padding: 15px 45px;
    font-weight: var(--font-weigth-bold);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
    background: var(--mzd-black-color-6);
    color: #000000;
    border: 1px solid var(--line-color);
}

#insight-kstudy #insight-list .types .type.active,
#insight-kstudy #insight-list .types .type:hover {
    background: var(--mzd-blue-color);
    color: var(--mzd-black-color-6);
    border: 1px solid none;
}

#insight-kstudy #insight-list .insight-list-wrapper .lists {
    margin-top: 45px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

#insight-kstudy #insight-list .lists .single-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 60px;
}

#insight-kstudy #insight-list .lists .single-item.appear {
    animation: item-appear 0.5s linear;
    display: flex;
}

@keyframes item-appear {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#insight-kstudy #insight-list .lists .single-item.disappear {
    animation: item-disappear 0.5s linear;
    display: none;
}

@keyframes item-disappear {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

#insight-kstudy #insight-list .lists .single-item .item-image {
    width: 100%;
    margin-bottom: 20px;
}

#insight-kstudy #insight-list .lists .single-item .item-image img {
    width: 100%;
    display: block;
    object-fit: cover;
}

#insight-kstudy #insight-list .lists .single-item .item-type {
    width: auto;
    margin-bottom: 10px;
    background: #000000;
    padding: 8px 12px;
    font-family: var(--sub-font-family);
    font-weight: var(--font-weigth-bold);
    font-size: 13px;
    line-height: 100%;
    text-transform: capitalize;
    color: var(--mzd-black-color-6);
}

#insight-kstudy #insight-list .lists .single-item .item-title {
    font-weight: var(--font-weigth-semi-bold);
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #000000;
}

#insight-kstudy #insight-list .lists .single-item .item-title.separate {
    margin-bottom: 20px;
}

#insight-kstudy #insight-list .lists .single-item .item-content {
    font-weight: var(--font-weigth-regular);
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.03em;
    color: #777777;
}

#insight-kstudy #insight-list .button {
    width: 100%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#insight-kstudy #insight-list .button span a {
    width: 218px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
    border: 1px solid #666666;
    background-color: transparent;
    font-weight: var(--font-weigth-bold);
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: var(--mzd-black-color);
}

#insight-kstudy #insight-list .button span a:hover {
    background-color: var(--mzd-blue-color);
    color: var(--mzd-black-color-6);
    border: 1px solid var(--mzd-blue-color);
}

/* Insight List */

/* ------
------
------ */
/* End Main Insight Page */