/* Start Our Culture Page */
/* ------
------
------ */

#constant-worries {
    font-family: var(--main-font-family);
    width: var(--page-max-width);
    margin: 0 auto;
    margin-top: 125px;
    margin-bottom: 96px;
}

#constant-worries .worries-header {
    width: 100%;
    margin-bottom: 50px;
}

#constant-worries .worries-header .worries-text {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #414141;
}

#constant-worries .worries-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 27px;
}

#constant-worries .single-worries {
    width: 100%;
    padding-left: 34px;
    padding-bottom: 72px;
    background-color: rgba(203, 203, 203, 0.6);
}

#constant-worries .single-worries .worries-image {
    padding-bottom: 54px;
}

#constant-worries .single-worries .worries-image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#constant-worries .single-worries .worries-text {
    font-weight: 700;
    font-size: 28px;
    line-height: 39px;
    color: #414141;
}

#benefit {
    font-family: var(--main-font-family);
    width: var(--page-max-width);
    margin: 0 auto;
    margin-bottom: 125px;
}

#benefit .main {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #414141;
    margin-bottom: 50px;
}

#benefit .benefit-list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}

#benefit .single-benefit {
    width: 49%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin-bottom: 107px;
    gap: 18px;
}

#benefit .single-benefit .text,
#benefit .qoute {
    width: 100%;
    font-size: 28px;
    line-height: 34px;
    color: #414141;
}

#benefit .title {
    font-weight: 700;
}

#benefit .content {
    font-weight: 400;
}

#benefit .content.left {
    font-weight: 400;
    margin-left: 20px;
}

/* ------
------
------ */
/* End Our Culture Page */