@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --main-color: #FFFFFF;
    --sub-color: #CBCBCB;
    --sub-gray-color: #D9D9D9;
    --text-color: #000000;
    --text-sub-color: #454545;
    --text-sub-color-2: #414141;
    --card-color: #E5E5E5;
    --white-color: #FFFFFF;
    --main-font-family: 'Inter', sans-serif;

    --page-max-width: 1460px;

    --header-height: 127px;
    --header-content-height: 47px;
    --header-content-top: 50px;

    --slider-image-width: 950px;
    --slider-image-height: 599px;

    --content-slide-width: 340px;
    --content-slide-height-long: 500px;
    --content-slide-height-short: 400px;
    --content-slide-image-width: 278px;

    --news-single-news-height: 248px;

    --footer-content-top: 52px;
    --footer-content-bottom: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}