@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    /* Color */
    --bg-color: #F7F8F9;
    --line-color: #E5E5E5;

    --mzd-black-color: #141414;
    --mzd-black-color-2: #333333;
    --mzd-black-color-3: #666666;
    --mzd-black-color-4: #999999;
    --mzd-black-color-5: #CCCCCC;
    --mzd-black-color-6: #FFFFFF;

    --mzd-blue-color: #0B7BFF;

    /* Font */
    --main-font-family: pretendard, sans-serif;
    --sub-font-family: 'Inter', sans-serif;
    --font-weigth-regular: 400;
    --font-weigth-semi-bold: 600;
    --font-weigth-bold: 700;

    /* Page Width */
    --page-max-width: 1430px;

    /* Header Height */
    --header-height: 120px;
    --header-height-fixed: 80px;
    --header-height-big: 1080px;


    --slider-image-width: 1200px;

    --content-slide-width: 315px;

    --news-single-news-height: 248px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--mzd-black-color-6);
}

a {
    text-decoration: none;
    color: var(--mzd-black-color);
}

h1 {
    font-size: 68px;
    line-height: 140%;
    letter-spacing: -3%;
}

h2 {
    font-size: 56px;
    line-height: 140%;
    letter-spacing: -3%;
}

h3 {
    font-size: 46px;
    line-height: 140%;
    letter-spacing: -3%;
}

h4 {
    font-size: 36px;
    line-height: 140%;
    letter-spacing: -3%;
}

h5 {
    font-size: 32px;
    line-height: 140%;
    letter-spacing: -3%;
}

h6 {
    font-size: 28px;
    line-height: 140%;
    letter-spacing: -3%;
}

.btn-next::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    width: 22px;
    height: 22px;
    background-image: url(../assets/arrows/foward-gray-arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.5s;
}

.btn-next:hover::after {
    background-image: url(../assets/arrows/foward-blue-arrow.png);
    transform: translateX(5px) translateY(-50%);
}