body {
    font-family: var(--main-font-family);
}

body,
html {
    height: 100%;
    margin: 0;
}

.mzd-header-wrapper {
    background-image: url('../assets/images/technical_competency/banner.png');
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.mzd-header-wrapper.breadcrumb-strategyconsulting {
    background-image: url('../assets/images/technical_competency/banner2.png');
}

.mzd-header-wrapper.breadcrumb-driveconversion {
    background-image: url('../assets/images/technical_competency/banner3.png');
}

.mzd-header-content {
    position: relative;
    width: 1430px;
    margin: auto;
    padding-top: 140px;
}

.mzd-sub-header-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.mzd-header-text {
    margin-top: 14px;
    font-weight: 700;
    font-size: 58px;
    line-height: 100%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.mzd-content-wrapper {
    width: 1430px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.mzd-content-row {
    display: flex;
    margin-top: 120px;
}

.mzd-techicals {
    display: flex;
    flex-wrap: wrap;
    width: 66.5%;
}

.mzd-service-list-title {
    width: 33.5%;
    font-weight: 700;
    font-size: 46px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #141414;
}

.mzd-tech-item {
    display: flex;
    flex: 50%;
    margin-bottom: 90px;
}

.mzd-techicals.mzd-site-drive .mzd-tech-item {
    margin-bottom: 134px;
}

.mzd-techicals.mzd-site-drive .mzd-tech-item:nth-child(3), .mzd-techicals.mzd-site-drive .mzd-tech-item:nth-child(4) {
    margin-bottom: 0px;
}

.mzd-tech-icon {
    margin-right: 40px;
    width: 72px;
    height: 72px;
}

.mzd-tech-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    margin-top: 16px;
}

.mzd-tech-sub-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #141414;
}

.mzd-reference {
    position: relative;
    background-image: url("../assets/images/technical_competency/technical_media.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 500px;
    margin-right: calc((100% - var(--page-max-width))/2 + 20px);
}

.mzd-reference.reference-strategyconsulting {
    background-image: url("../assets/images/technical_competency/technical_media2.png");
}

.mzd-reference.reference-driveconversion {
    background-image: url("../assets/images/technical_competency/technical_media3.png");
}

.mzd-reference-block {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 710px;
    height: 388px;
    background: #FFFFFF;
    backdrop-filter: blur(4px);
    padding-left: 76px;
    padding-top: 56px;
}

.mzd-reference-reference {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #0B7BFF;
}

.mzd-reference-title {
    margin-top: 12px;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #111111;
}

.mzd-reference-des {
    margin-top: 28px;
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #333333;

}

.mzd-readmore {
    font-weight: 700;
    font-size: 20px;
    line-height: 240%;
    color: #999999;
    position: relative;
    transition: 0.5s;
}

.mzd-readmore:hover {
    color: var(--mzd-blue-color);
}

.mzd-readmore::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 7px;
    width: 22px;
    height: 22px;
    background-image: url(../assets/arrows/foward-gray-arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.5s;
}

.mzd-readmore:hover:after {
    background-image: url(../assets/arrows/foward-blue-arrow.png);
    transform: translateX(5px) translateY(-50%);
}

.mzd-providing-block {
    margin: 0 auto;
}

.mzd-providing-title {
    text-align: center;
}

.providing-content-top {
    display: flex;
    padding-left: 0;
    margin-top: 68px;
}

.providing-content-bottom {
    display: flex;
}

.providing-marketing {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 285px;
    margin-left: 430px;
}

.providing-partner {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 280px;
    margin-left: 280px;
}

.providing-digital {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 280px;
    margin-left: 130px;
}

.providing-knowhow {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 280px;
    width: 280px;
}

.providing-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #777777;
    margin: 16px 0px;
}

.mzd-related {
    margin-top: 180px;
}

.related-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
}

.mzd-related-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 55px;
}

.mzd-related-item {
    width: 100%;
}

.related-image {
    width: 100%;
}

.related-image img {
    display: block;
    width: 100%;
    object-fit: cover;
}


.related-item-title {
    margin-top: 20px;
    width: 90%;
    font-weight: var(--font-weigth-semi-bold);
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #000000;
}

.cloud-box-cicle-line-content-main h3 {
    font-size: 20px;
}


div#service-drive-box {
    margin-top: 150px;
}

.mzd-providing-block {
    width: 100%;
}

.service-drive-box-main {
    display: flex;
}

.service-drive-box-groupfield {
    width: 33.3333333333%;
}

.service-drive-box-big-main>div {
    width: 384px;
    height: 384px;
    background-color: #F7F7F7;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.service-drive-box-big-item {
    width: 218px;
    height: 218px;
    border: 1px #ddd solid;
    border-radius: 50%;
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-drive-box-groupfield-base {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.service-drive-box-big-item:nth-of-type(1) {
    left: -35px;
    top: calc(-50% + 110px);
}

.service-drive-box-big-item:nth-of-type(2) {
    right: -35px;
    top: calc(-50% + 110px);
}

.service-drive-box-big-item:nth-of-type(4) {
    left: -35px;
    bottom: calc(-50% + 110px);
}

.service-drive-box-big-item:nth-of-type(5) {
    right: -35px;
    bottom: calc(-50% + 110px);
}

.service-drive-box-groupfield .service-drive-box-field-info {
    width: 100%;
}

.service-drive-box-groupfield:first-child .service-drive-box-field-info:first-child {
    top: -70px;
    position: relative;
    text-align: right;
    padding-right: 70px;
}

.service-drive-box-groupfield:first-child .service-drive-box-field-info:last-child {
    bottom: -70px;
    position: relative;
    text-align: right;
    padding-right: 70px;
}

.service-drive-box-groupfield:last-child .service-drive-box-field-info:first-child {
    top: -70px;
    position: relative;
    text-align: left;
    padding-left: 70px;
}

.service-drive-box-groupfield:last-child .service-drive-box-field-info:last-child {
    bottom: -70px;
    position: relative;
    text-align: left;
    padding-left: 70px;
}

.service-drive-box-groupfield:last-child .service-drive-box-field-info:first-child .service-drive-info-desc,
.service-drive-box-groupfield:last-child .service-drive-box-field-info:last-child .service-drive-info-desc {
    text-align: left;
}

.service-drive-info-title {
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 25px;
    font-weight: 600;
}

.service-drive-info-desc {
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    letter-spacing: -0.01em;
    color: #777777;
}

.service-box-icon {
    background-repeat: no-repeat;
    background-position: center;
    width: 102px;
    height: 85px;
    display: block;
}

.service-icon-cloud {
    background-image: url(../assets/images/technical_competency/service-box-icon-01.png);
    width: 102px;
    height: 85px;
}

.service-icon-platform {
    background-image: url(../assets/images/technical_competency/service-box-icon-02.png);
    width: 91px;
    height: 90px;
}

.service-icon-data {
    background-image: url(../assets/images/technical_competency/service-box-icon-03.png);
    width: 72px;
    height: 78px;
}

.service-icon-r_d {
    background-image: url(../assets/images/technical_competency/service-box-icon-04.png);
    width: 88px;
    height: 84px;
}

.service-drive-box-big-item span {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #777777;
    font-weight: 500;
    margin-top: 10px;
}