/* Start Way to Come Page */
/* ------
------
------ */

#map-content {
    width: var(--page-max-width);
    margin: 0 auto;
    margin-top: 87px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 52px;
    font-family: var(--main-font-family);
}

#map-content .left {
    font-size: 32px;
    line-height: 39px;
    color: #414141;
}

#map-content .left .korean {
    width: 60%;
    padding-bottom: 40px;
    border-bottom: 2px solid #414141;
}

#map-content .left .text {
    font-weight: 400;
}

#map-content .left .text.bold {
    font-weight: 700;
}

#map-content .left .text.separate {
    margin-bottom: 40px;
}

#map-content .left .global {
    width: 90%;
    padding-top: 50px;
}

/* ------
------
------ */
/* End Way to Come Page */